.start-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 4.8rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 5px dashed theme("colors.primary");
    border-radius: 1rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &.is-draggable {
    &::after {
      opacity: 1;
    }
  }
}

.divider {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}
.divider::before,
.divider::after {
  content: "";
  width: 8.75vw;
  height: 1px;
  background-color: #e5e8eb;
}
