.lang-bar {
  h3 {
    position: absolute;
    top: 3.2rem;
    transform: translateX(-48rem);
    font-size: 2rem;
    font-weight: 600;
  }
  .select-box {
    position: absolute;
    top: calc(50% + 3.2rem);
    z-index: 1;
    transform: translateX(-48rem);
  }
}

@media screen and (max-width: 1119px) {
  .lang-bar {
    position: relative;
    background-color: #fff;
    width: 100%;
    display: flex;
    color: #000;
    justify-content: space-between;
    padding: 0 1.6rem;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      width: 1px;
      background-color: rgba(229, 232, 235, 0.5);
      z-index: 1;
    }

    h3 {
      position: relative;
      top: initial;
      padding: 1.2rem 0;
      transform: initial;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.9rem;
      text-align: center;
      width: 50%;
    }
    .select-box {
      position: relative;
      top: initial;
      padding: 1.2rem 0;
      transform: initial;
      color: #000;
      font-weight: 500;
      font-size: 1.6rem;
      width: 50%;
      div {
        justify-content: center;
      }
    }
  }
}
