.progress-bar-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-circle-wrap {
  width: 6.4rem;
  height: 6.4rem;
  position: relative;
}

.progress-bar {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background: linear-gradient(#1384fe, #42a2ff);
}

.CircularProgressbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7.6rem !important;
  height: 7.6rem !important;
}

.progress-text {
  font-size: 2rem;
  margin-top: 1.6rem;
  text-align: center;
}

@media screen and (max-width: 1119px) {
  .progress-text {
    font-size: 1.8rem;
    margin-top: 1.2rem;
  }
}
